.header {
  font-weight: 400;
  color: $dark-blue;
  padding-bottom: 2em;
  padding-top: 2em;
}

.header--m {
  font-size: 1em;
}

.header--l {
  font-size: 1.5em;
}

.header--xl {
  font-size: 2em;
}

.header--xxl {
  font-size: 2.5em;
}
