.meeting {
  display: grid;
  height: 4em;
  grid-template-columns: 0.25fr repeat(4, 1fr);
  justify-items: center;
  align-content: center;

  div {
    align-self: center;
    justify-self: center;
  }
}

.call-id {
  color: $orange;
}
