.meeting {
  display: grid;
  height: 4em;
  grid-template-columns: 0.25fr repeat(4, 1fr);
  justify-items: center;
  align-content: center;
}

.call-id {
  color: $orange;
}

.meeting--margin-top--1em {
  margin-top: 1em;
}
