.navbar {
  //   display: grid;
  //   grid-template-columns: repeat(12, 1fr);
  //   grid-column-end: 0;
  //   grid-auto-rows: minmax(min-content, max-content);
  height: 100px;
  width: 100%;
  background: $dark-blue;
}
