.grid {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: 1fr;
}

.grid__item {
  height: 100%;
}

.gutters {
  grid-gap: 5px;
}

@for $i from 1 through 12 {
  .col-start--#{$i} {
    grid-column-start: $i;
  }

  .col-end--#{$i} {
    grid-column-end: $i;
  }
}

.grid-align--center {
  align-self: center;
}

.grid-align--top {
  align-self: flex-start;
}

.grid-align--bottom {
  align-self: flex-end;
}

.grid-justify--center {
  justify-self: center;
}

.grid-justify--left {
  justify-self: left;
}

.grid-justify--right {
  justify-self: right;
}
.grid--small {
  width: 80%;
}
