.grid {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
}

.gutters {
  grid-gap: 5px;
}

@for $i from 1 through 12 {
  .col-start--#{$i} {
    grid-column-start: $i;
  }

  .col-end--#{$i} {
    grid-column-end: $i;
  }
}

.align--center {
  align-self: center;
}

.align--top {
  align-self: flex-start;
}

.align--bottom {
  align-self: flex-end;
}

.justify--center {
  justify-self: center;
}

.justify--left {
  justify-self: left;
}

.justify--right {
  justify-self: right;
}
.grid--small {
  width: 80%;
}
